__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.env
.venv
env/
venv/
ENV/
.git
.gitignore
.gitattributes
README.md
.DS_Store
songs.csv
.cursorignore
.cursorindexingignore
uv.lock
.ruff_cache/
